---
import PageLayout from "../layouts/PageLayout.astro";
import Config from "../sarissa.config.cjs";
---

<PageLayout pageTitle={Config.menu?.about ?? "About Us"}>
  <article class="prose max-w-none">
    <h2>Staff</h2>
    <h3>Coach: Ignacio Zambrano</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores voluptatem atque tempora dolore nulla nisi, totam quisquam beatae illum omnis soluta, optio ullam dolor ducimus vel quaerat libero molestias aliquid eos porro facilis. Nisi atque incidunt commodi doloremque! Minima quod quisquam quibusdam eveniet, ducimus facilis!</p>
  </article>
</PageLayout>
