---
import PageLayout from "../layouts/PageLayout.astro";
import Config from "../sarissa.config.cjs";
---

<PageLayout pageTitle={Config.menu.home}>
  <article class="prose max-w-none">
    <h2>Who We Are</h2>
    <img src="images/torozafterclass.jpg" width="540" alt="Aftermath of one of Toro Z's Morning Classes" />
    <p><b>Toro Z Muay Thai</b> is a new community-based gym in Sacramento dedicated to teaching
      and honing muay thai and its techniques.
    </p>
    <p>On top of a free trial period to help you decide whether the muay thai life is for you,
      Toro Z boasts no initiation fee and no contracts to be as beginner-friendly as possible. We also
      offer <b>Veteran</b> and <b>Student Discounts</b>, and conveniently located near Sacramento State
      University, Green Acres Nursery, and Boulder Fields Rock Gym.
    </p>
    <p>Never expect to be judged when you walk through our doors: all people of all ages, all abilities
      and all walks of life are welcome here at Toro Z. We strive to uphold a friendly atmosphere thanks
      to our amazing coaches and want nothing more than for you to become the <b><i>you</i></b> you've always
      imagined.
    </p>
    
    <h2>Classes</h2>
    <img src="/images/referee.jpg" width="540" alt="A referee waiting to see a Toro Z fighter in action" />
    <p>At Toro Z we believe anyone has what it takes to become a fighter on our <b>Fight Team</b>! Even if
      you don't plan to compete, training with us is a surefire path to becoming a force to be reckoned with.
      We have classes for all age groups and skill levels, listed below:
      <ul>
        <li><b>Beginner Muay Thai</b></li>
        <li><b>Advanced Muay Thai</b></li>
        <li><b>Kids' Class</b></li>
        <li><b>Fitness Class</b></li>
        <li><b>Personals</b> (upon request)</li>
      </ul>
      For more information, check out the details on each class on our <a href="/about">About Us</a> page.
    </p>

    <h2>How to Get Started</h2>
    <p>Come on in! Our doors are always open from Monday to Saturday and there's no better time than the present to
      get started. If you want any more information before coming in, please reach out to us on our <a href="/contact">Contact page</a>.
    </p>
  </article>
</PageLayout>